In [4]:
#for loop
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [5]:
for y in range(20):
    print(y)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [6]:
for x in range(5,10):
    print(x)

5
6
7
8
9

In [8]:
for a in range(10,20):
    print(a)

10
11
12
13
14
15
16
17
18
19

In [10]:
#odd numbers
for b in range(1,50,2):
    print(b)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [2]:
#Even numbers
for x in range(2,50,2):
    print(x)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [14]:
# 5 table
for c in range(5,50,5):
    print(c)

5
10
15
20
25
30
35
40
45

In [15]:
for c in range(5,55,5):
    print(c)

5
10
15
20
25
30
35
40
45
50

In [17]:
a="Racksonit"
for x in a:
    print(x)

R
a
c
k
s
o
n
i
t

In [19]:
a=["Kolhapur","Sangali","Hatkanangale"]
for y in a:
    print(y)

Kolhapur
Sangali
Hatkanangale

In [2]:
a=input("Enter the city name:")
for x in a:
    print(x)

Enter the city name:pune
p
u
n
e

In [28]:
a=["pune","satara","lonavala"]
for x in a[1]:
    print(x)

s
a
t
a
r
a

In [30]:
a=["ichalkaranji","Aalte"]
for x in a[1]:
    print(x)
    for y in x:
        print(y)

A
A
a
a
l
l
t
t
e
e

In [31]:
a=["kolhapur","sangali","swargate"]
for x in a[1][2]:
    print(x)

n

In [37]:
a=["karad","korochi","Hatkanangale"]
for x in a[0],a[2]:
    print(x)
    for y in a[2]:
        print(y)

karad
H
a
t
k
a
n
a
n
g
a
l
e
Hatkanangale
H
a
t
k
a
n
a
n
g
a
l
e

In [5]:
n=int(input("Enter the value for table:"))
for x in range(n,n*11,n):
    print(x)

Enter the value for table:13
13
26
39
52
65
78
91
104
117
130

In [41]:
a=input("Enter first city name:")
b=input("Enter second city name:")
c=[a,b]
print(c)

Enter first city name:Hatkanangale
Enter second city name:Jaysingpur
['Hatkanangale', 'Jaysingpur']

In [43]:
a=input("Enter first city name:")
b=input("Enter second city name:")
c=[a,b]
print(c)
for x in c:
    print(x)
    for y in x:
        print(y)

Enter first city name:Hatkanangale
Enter second city name:Kolhapur
['Hatkanangale', 'Kolhapur']
Hatkanangale
H
a
t
k
a
n
a
n
g
a
l
e
Kolhapur
K
o
l
h
a
p
u
r

In [45]:
a="renu"
for x in a:
    print(x)
    a1=10
    b1=20
    print("total",a1+b1)

r
total 30
e
total 30
n
total 30
u
total 30

In [47]:
a="renu"
b="kajal"
c=[a,b]
for x in c:
    print(x)
    a1=11
    b1=20
    print("total",a1+b1)

renu
total 31
kajal
total 31

In [4]:
for x in "racksonit":
    print(x)

r
a
c
k
s
o
n
i
t

In [3]:
for x in range(2):
    a=input("Enter city name:")
    for x in a:
        print(x)
    for y in x:
        print(y)

Enter city name:pune
p
u
n
e
e
Enter city name:mumbai
m
u
m
b
a
i
i

In [6]:
a=input("Enter 1st name:...")
b=input("Enter 2nd name:...")
z=input("Enter 3rd name:...")
c=[a,b,z]
for x in c:
    print(x)
    d=10
    f=20
    print(d,f)
    print(d)
    print(f)

Enter 1st name:...ankita
Enter 2nd name:...shruti
Enter 3rd name:...heena
ankita
10 20
10
20
shruti
10 20
10
20
heena
10 20
10
20

In [9]:
a="kolhapur"
for x in a:
    print(x)
    for y in x:
        print(y)
        a=20
        b=30
        print("Addition of two numbers is:..",a+b)

k
k
Addition of two numbers is:.. 50
o
o
Addition of two numbers is:.. 50
l
l
Addition of two numbers is:.. 50
h
h
Addition of two numbers is:.. 50
a
a
Addition of two numbers is:.. 50
p
p
Addition of two numbers is:.. 50
u
u
Addition of two numbers is:.. 50
r
r
Addition of two numbers is:.. 50