In [1]:
## DICTIONARIES ##
a={"City name":"Mumbai",
   "Phone no.": 45365469,
   "Name":     "Shweta",
   "Address":  "Hatkanangale",
   "Email ID": "Shweta123@gmail.com" 
  }
print(a)

{'City name': 'Mumbai', 'Phone no.': 45365469, 'Name': 'Shweta', 'Address': 'Hatkanangale', 'Email ID': 'Shweta123@gmail.com'}

In [2]:
a

{'City name': 'Mumbai',
 'Phone no.': 45365469,
 'Name': 'Shweta',
 'Address': 'Hatkanangale',
 'Email ID': 'Shweta123@gmail.com'}

In [8]:
a={"City name":"Mumbai",
   "Phone no.": 45365469,
   "Name":     "Shweta",
   "Address":  "Hatkanangale",
   "Email ID": "Shweta123@gmail.com" 
  }
for x in a.keys():
    b=10
    print(b)

10
10
10
10
10

In [9]:
a={"City name":"Mumbai",
   "Phone no.": 45365469,
   "Name":     "Shweta",
   "Address":  "Hatkanangale",
   "Email ID": "Shweta123@gmail.com" 
  }
for x in a.keys():
    print(a)

{'City name': 'Mumbai', 'Phone no.': 45365469, 'Name': 'Shweta', 'Address': 'Hatkanangale', 'Email ID': 'Shweta123@gmail.com'}
{'City name': 'Mumbai', 'Phone no.': 45365469, 'Name': 'Shweta', 'Address': 'Hatkanangale', 'Email ID': 'Shweta123@gmail.com'}
{'City name': 'Mumbai', 'Phone no.': 45365469, 'Name': 'Shweta', 'Address': 'Hatkanangale', 'Email ID': 'Shweta123@gmail.com'}
{'City name': 'Mumbai', 'Phone no.': 45365469, 'Name': 'Shweta', 'Address': 'Hatkanangale', 'Email ID': 'Shweta123@gmail.com'}
{'City name': 'Mumbai', 'Phone no.': 45365469, 'Name': 'Shweta', 'Address': 'Hatkanangale', 'Email ID': 'Shweta123@gmail.com'}

In [10]:
for x in a.values():
    print(x)

Mumbai
45365469
Shweta
Hatkanangale
Shweta123@gmail.com

In [12]:
for x in  a.items():
    print(x)

('City name', 'Mumbai')
('Phone no.', 45365469)
('Name', 'Shweta')
('Address', 'Hatkanangale')
('Email ID', 'Shweta123@gmail.com')

In [11]:
a={"City name":["Mumbai","Pune","Kolhapur","Sangali"],
   "Phone no.": 45365469,
   "Name":     "Shweta",
   "Address":  "Hatkanangale",
   "Email ID": "Shweta123@gmail.com" 
  }
a

{'City name': ['Mumbai', 'Pune', 'Kolhapur', 'Sangali'],
 'Phone no.': 45365469,
 'Name': 'Shweta',
 'Address': 'Hatkanangale',
 'Email ID': 'Shweta123@gmail.com'}

In [15]:
for x in a.get("City name"):
    print(x)

Mumbai
Pune
Kolhapur
Sangali

In [21]:
a["Dmart"]=["Green Tea","Pitan","Biscuits","chocolates"]

In [22]:
a

{'City name': ['Mumbai', 'Pune', 'Kolhapur', 'Sangali'],
 'Phone no.': 45365469,
 'Name': 'Shweta',
 'Address': 'Hatkanangale',
 'Email ID': 'Shweta123@gmail.com',
 'Dmart': ['Green Tea', 'Pitan', 'Biscuits', 'chocolates']}

In [25]:
a={"City name": ["Mumbai","pune", "Kolhapur", "Sangali"],
   "Phone no.": 45365469,
   "Name": "Shweta",
   "Address": "Hatkanangale",
   "Email ID": "Shweta123@gmail.com",
   "Dmart": ["Green Tea", "Pitan", "Biscuits", "chocolates"]
}

a.update({"Name":"Ankita"})
a

{'City name': ['Mumbai', 'pune', 'Kolhapur', 'Sangali'],
 'Phone no.': 45365469,
 'Name': 'Ankita',
 'Address': 'Hatkanangale',
 'Email ID': 'Shweta123@gmail.com',
 'Dmart': ['Green Tea', 'Pitan', 'Biscuits', 'chocolates']}

In [29]:
a={"City name": ["Mumbai","pune", "Kolhapur", "Sangali"],
   "Phone no.": 45365469,
   "Name": "Shweta",
   "Address": "Hatkanangale",
   "Email ID": "Shweta123@gmail.com",
   "Dmart": ["Green Tea", "Pitan", "Biscuits", "chocolates"]
}

a.pop("Name")
a

{'City name': ['Mumbai', 'pune', 'Kolhapur', 'Sangali'],
 'Phone no.': 45365469,
 'Address': 'Hatkanangale',
 'Email ID': 'Shweta123@gmail.com',
 'Dmart': ['Green Tea', 'Pitan', 'Biscuits', 'chocolates']}

In [30]:
print(len(a))

5

In [31]:
print(type(a))

<class 'dict'>

In [33]:
a={"City name": ["Mumbai","pune", "Kolhapur", "Sangali"],
   "Phone no.": 45365469,
   "Name": "Shweta",
   "Address": "Hatkanangale",
   "Email ID": "Shweta123@gmail.com",
   "Dmart": ["Green Tea", "Pitan", "Biscuits", "chocolates"]
}

a.popitem()
a

{'City name': ['Mumbai', 'pune', 'Kolhapur', 'Sangali'],
 'Phone no.': 45365469,
 'Name': 'Shweta',
 'Address': 'Hatkanangale',
 'Email ID': 'Shweta123@gmail.com'}

In [34]:
a={"City name": ["Mumbai","pune", "Kolhapur", "Sangali"],
   "Phone no.": 45365469,
   "Name": "Shweta",
   "Address": "Hatkanangale",
   "Email ID": "Shweta123@gmail.com",
   "Dmart": ["Green Tea", "Pitan", "Biscuits", "chocolates"]
}

del a["Name"]
a

{'City name': ['Mumbai', 'pune', 'Kolhapur', 'Sangali'],
 'Phone no.': 45365469,
 'Address': 'Hatkanangale',
 'Email ID': 'Shweta123@gmail.com',
 'Dmart': ['Green Tea', 'Pitan', 'Biscuits', 'chocolates']}

In [36]:
a={"City name:": ["Mumbai","pune", "Kolhapur", "Sangali"],
   "Phone no.:": 45365469,
   "Name:": "Shweta",
   "Address:": "Hatkanangale",
   "Email ID:": "Shweta123@gmail.com",
   "Dmart:": ["Green Tea", "Pitan", "Biscuits", "chocolates"]
}

for x,y in a.items():
    print(x,y)

City name: ['Mumbai', 'pune', 'Kolhapur', 'Sangali']
Phone no.: 45365469
Name: Shweta
Address: Hatkanangale
Email ID: Shweta123@gmail.com
Dmart: ['Green Tea', 'Pitan', 'Biscuits', 'chocolates']

In [8]:
d={"City name:":  ["Mumbai","pune", "Kolhapur", "Sangali"],
   "Name:":  "Shweta",
   "Address:":  "Hatkanangale",
   "Email ID:":  "Shweta123@gmail.com",
   "Dmart:":  ["Green Tea", "Pitan", "Biscuits", "chocolates"]
}

print(d)

for x in d.get("City name"):
    print(x)

{'City name:': ['Mumbai', 'pune', 'Kolhapur', 'Sangali'], 'Name:': 'Shweta', 'Address:': 'Hatkanangale', 'Email ID:': 'Shweta123@gmail.com', 'Dmart:': ['Green Tea', 'Pitan', 'Biscuits', 'chocolates']}

TypeError: 'NoneType' object is not iterable

In [22]:
a={"Name:" : "kajal pandav",
   "Address:" : "Hatkanangale",
   "Email_id:":"kajal@gmail.com"
  }
a

a["computer"]="CPU"

a

{'Name:': 'kajal pandav',
 'Address:': 'Hatkanangale',
 'Email_id:': 'kajal@gmail.com',
 'computer': 'CPU'}

In [23]:
a={"Name" : "kajal pandav",
   "Address" : "Hatkanangale",
   "Email_id" : "kajal@gmail.com"
  }
print(a)

for a in a.get("Address"):
    print(x)

{'Name': 'kajal pandav', 'Address': 'Hatkanangale', 'Email_id': 'kajal@gmail.com'}
Sangali
Sangali
Sangali
Sangali
Sangali
Sangali
Sangali
Sangali
Sangali
Sangali
Sangali
Sangali